@use "../../../../mixins.scss" as m;
@use "../../../../variables.scss" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, svg {
  border: unset;
  cursor: pointer;
}

.overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  @include m.flexBox(row, center, center);
  @include m.styleFont("Nunito");
  // @include m.styleFont("Nunito", 90px, 700, 1.5, white);
  // @include m.flexBox(row, center, center);
  z-index: 50;
}

.dialog-content {
  position: relative;
  width: 872px;
  height: 539px;
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

  @media screen and (max-width: 992px) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.dialog-header {
  width: 100%;
  padding: 40px 46px 20px 46px;
  @include m.styleFont("Nunito", 24px, 700, 1.36, #000000);
  @include m.flexBox(row, space-between, center);
  svg {
    box-sizing: content-box;
    border-radius: 50%;
    padding: 8px;
    transition: all 125ms ease-in-out;
    &:hover {
      transform: scale(1.3);
      fill: v.$purple_3;
      background-color: v.$purple_bg;
    }
  }
}

.channel-description {
  @include m.styleFont("Nunito", 18px, 400, 1.36, #000000);
  padding: 10px 46px 20px 46px;
}

.input-ctn {
  @include m.styleFont("Nunito", 18px, 700, 1.36, #000000);
  padding: 10px 46px 20px 46px;
  input {
    @include m.flexBox(row, center, flex-start, 20px);    
    padding: 18px 20px;
    width: 100%;
    // width: 792px;
    // height: 60px;

    /* Ligth purple (Lines) */
    border: 1px solid v.$purple_4;
    border-radius: 40px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px v.$purple_1;
    }
    ::placeholder {
      /* z.B. Kooperationsprojekte */
      // // width: 205px;
      // height: 25px;
      @include m.styleFont("Nunito", 18px, 400, 1.36, #000000);
      /* Text gray */
      color: v.$grey;
    }
  }
  .description {
    span {
      @include m.styleFont("Nunito", 18px, 400, 1.36, #000000);
    }
  }
}

.save-btn {
  /* 10. Button primary */
  position: absolute;
  right: 40px;
  bottom: 50px;
  
  /* Auto layout */
  @include m.flexBox(row, center, center);
  padding: 12px 25px;
  gap: 10px;

  width: 125px;
  height: 49px;

  /* Purple 1 */
  background: v.$purple_1;
  border-radius: 25px;

  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  button {
    background-color: inherit;
    @include m.styleFont("Nunito", 18px, 700, 1.36, #FFFFFF);
    transition: all 175ms ease-in-out;
    &:enabled:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    &:disabled {
      color: #666;             /* Dunkelgraue Schrift */
      cursor: not-allowed;     /* "Verboten"-Cursor */
      opacity: 0.8;            /* Etwas transparenter */
    }
  }
  // transition: all 175ms ease-in-out;
  // &:hover {
  //   transform: scale(1.1);
  // }
}


.error-text {
  position: absolute;
  top: 190px;
  left: 200px;
  transition: opacity 0.3s ease;
  padding-left: 40px;
  @include m.styleFont("Nunito", 18px, 700, 1.36, rgb(134, 26, 26));
}