<!-- date -->
<div class="date-header">
    <div class="date">{{ thread.creationDate | date:'dd.MM.yyyy' }}</div>
</div>

<div class="reply-container" [ngClass]="{
       'own-message': thread.userId === currentUserId,
       'being-edited': editingTarget?.id === thread.id
     }" (mouseenter)="hoveredThreadId = thread.docId" (mouseleave)="hoveredThreadId = null">

    <!-- add reactions -->
    <app-reaction-menu [docId]="thread.id" [userId]="thread.userId" [currentUserId]="currentUserId!"
        [text]="thread.thread" [type]="'thread'" [isHovered]="hoveredThreadId === thread.docId"
        [isOwnMessage]="thread.userId === currentUserId"
        [isEditing]="editingTarget?.id === thread.id && editingTarget?.type === 'thread'"
        (editRequest)="handleEditRequest($event)">
    </app-reaction-menu>

    <!-- reply -->
    <div class="reply">
        <img [src]="(userData$ | async)?.avatar" alt="Avatar" class="avatar">
        <div class="message">
            <div class="message-info">
                <div class="message-info-name" (click)="thread.userId ? showProfile(thread.userId) : null">
                    {{ (userData$ | async)?.name }}
                </div>
                <div class="message-info-time">{{ thread.creationDate | date:'HH:mm' }} Uhr</div>
            </div>
            <div class="message-text">{{ thread.thread }}</div>

            <!-- reactions -->
            <app-reaction-display [docId]="thread.id" [threadId]="thread.id" [currentUserId]="currentUserId!"
                [collectionName]="'threads'" [type]="'thread'">
            </app-reaction-display>


        </div>
    </div>
</div>

<!-- reactions overlay -->
<app-reactions *ngIf="showReactionsOverlay" (emojiSelected)="onEmojiSelected($event)" (closed)="onOverlayClosed()">
</app-reactions>

<!-- profile view -->
<app-profile-view *ngIf="profileViewOpen && selectedProfile" [userName]="selectedProfile"
    [onlineStatus$]="selectedProfilePresence$" (close)="closeProfile()"></app-profile-view>