<section class="login-main">
  <div class="login-intro" #logo>
    <div class="login-background-left"></div>
    <div class="login-background-right"></div>
    <div class="login-intro-logo">
      <img src="img/logo.svg" alt="DaBubble Logo" />
    </div>
    <div class="login-intro-txt">
      <span>DABubble</span>
    </div>
  </div>
  <div class="login">
    <div class="login-header">
      <div class="login-left">
        <div class="logo" #logoHeader>
          <img class="logo-logo" src="img/logo.svg" alt="DABubble Logo" />
          <img class="logo-name" src="img/logo_name.svg" alt="Logo Name" />
        </div>
      </div>
      <div class="register-route">
        <span>Neu bei DABubble?</span>
        <a routerLink="/register">Konto erstellen</a>
      </div>
    </div>
    <div class="login-dialog">
      <h2>Anmeldung</h2>
      <p>
        Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </p>
      <input
        class="email"
        type="email"
        placeholder="beispielname@email.com"
        [(ngModel)]="email"
        (keyup.enter)="login()"
      />
      <div class="error-message" *ngIf="emailErrorMessage">
        {{ emailErrorMessage }}
      </div>
      <input class="password" type="password" placeholder="Passwort" [(ngModel)]="password" (keyup.enter)="login()"/>
      <div class="error-message" *ngIf="passwordErrorMessage">
        {{ passwordErrorMessage }}
      </div>
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>

      <a routerLink="/request-password-reset">
        <span>Passwort vergessen?</span>
      </a>
      <div class="login-border"></div>
      <div class="login-border-word">ODER</div>
      <button class="login-google" (click)="loginWithGoogle()">
        <img src="img/google.png" alt="Google Logo" />
        <span>Anmelden mit Google</span>
      </button>
      <div class="login-btn">
        <button class="login-btn-register" (click)="login()">Anmelden</button>
        <button class="login-btn-guest" (click)="guestLogin()">
          Gäste-Login
        </button>
      </div>
    </div>
    <div class="register-route-resp">
      <span class="neu-bei-bubble">Neu bei DABubble?</span>
      <a routerLink="/register">Konto erstellen</a>
    </div>
    <div class="legal-infos">
      <a routerLink="/imprint" >Impressum</a>
      <a routerLink="/policy">Datenschutz</a>
    </div>
  </div>
  <div class="success-msg" *ngIf="showSuccessMsg">
    <span>Anmelden</span>
  </div>
</section>
