@use "../../../../../mixins.scss" as m;
@use "../../../../../variables.scss" as v;

// @include m.styleFont("Nunito", 90px, 700, 1.5, white);
// @include m.flexBox(row, center, center);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
svg {
  border: unset;
  cursor: pointer;
}

.show-channel-container {
  // width: 872px;
  // height: 616px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include m.flexBox(row, center, center);
  @include m.styleFont("Nunito");
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.show-channel-content {
  position: relative;
  width: 872px;
  height: 616px;
  // width: 100%;
  // width: 100%;
  /* White */
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px 30px 30px 30px;
  padding: 60px;

  @media (max-width: 992px) {
    @include m.flexBox(column, center, normal);
    width: 100%;
    height: 100%;
    border-radius: unset;
  }

  @media (max-width: 762px) {
    padding: 32px;
  }

  @media (max-width: 576px) {
    padding: 24px;
  }

  @media (max-width: 460px) {
    padding: 16px;
  }
}

.header {
  @include m.styleFont("Nunito", 24px, 700, 1.0, #000000);
  @include m.flexBox(row, space-between, center);

  .header-left {
    @include m.flexBox(row, center, center, 15px);
    padding: 2px 1px;
  }

  svg {
    box-sizing: content-box;
    border-radius: 50%;
    padding: 8px;
    transition: all 125ms ease-in-out;

    &:hover {
      transform: scale(1.3);
      fill: v.$purple_3;
      background-color: v.$purple_bg;
    }

  }

  padding-bottom: 20px;
}


.channel-name-ctn {
  box-sizing: border-box;
  @include m.flexBox(column, center, flex-start, 10px);
  padding: 20px;
  width: 100%;

  .channel-name-header {
    width: 100%;
    @include m.flexBox(row, space-between, center);
    @include m.styleFont("Nunito", 18px, 700, 1.0, #000000);

    .name-edit {
      @include m.styleFont("Nunito", 18px, 600, 1.0, v.$purple_3);
      padding: 8px 12px;

      &:hover {
        background-color: v.$purple_bg;
        border-radius: 12px;
        cursor: pointer;
        transform: scale(1.1);
      }

    }
  }

  .channel-name-title {
    padding: 2px 1px;
    width: 100%;
    @include m.flexBox(row, flex-start, center, 10px);
    @include m.styleFont("Nunito", 18px, 400, 1.0, #000000);

  }

  /* Ligth purple (Lines) */
  border: 1px solid v.$purple_4;
  border-radius: 20px;
}


.channel-description-container {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  @include m.flexBox(column, center, flex-start, 20px);

  .channel-description-header {
    width: 100%;
    @include m.flexBox(row, space-between, center);
    @include m.styleFont("Nunito", 18px, 700, 1.0, #000000);

    .description-edit {
      @include m.styleFont("Nunito", 18px, 600, 1.0, v.$purple_3);
      padding: 8px 12px;

      &:hover {
        background-color: v.$purple_bg;
        border-radius: 12px;
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .channel-description-text {
    @include m.styleFont("Nunito", 18px, 400, 1.0, #000000);
    padding-bottom: 10px;
    width: 100%;
  }

  .channel-description-line {
    margin: auto;
    width: 95%;

    border: 1px solid #ADB0D9;
    /* Inside auto layout */
    // flex: none;
    // order: 1;
    // flex-grow: 0;
  }

  .channel-creator-ctn {
    padding-top: 10px;
    @include m.flexBox(column, center, flex-start, 20px);

    .channel-creator-title {
      @include m.styleFont("Nunito", 18px, 700, 1.0, #000000);
    }

    .channel-creator-name {
      @include m.styleFont("Nunito", 24px, 400, 1.0, v.$purple_3);
    }
  }
  border: 1px solid v.$purple_4;
  border-radius: 20px;

}


.channel-leave-ctn {
  width: 100%;
  position: absolute;
  right: 60px;
  @include m.flexBox(row, center, center, 10px);
  padding: 12px 25px;
  margin-top: 20px;
  width: 204px;
  height: 49px;
  background: v.$purple_1;
  border-radius: 25px;

  button {
    @include m.styleFont("Nunito", 18px, 700, 1.0, #FFFFFF);
    background: v.$purple_1;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  @media (max-width: 992px) {
    position: unset;
  }

}

input {
  box-sizing: border-box;
  @include m.flexBox(column, center, flex-start, 20px);
  @include m.styleFont("Nunito", 18px, 400, 1.36, #000000);
  padding: 18px 20px;
  width: 100%;
  max-width: 710px;
  height: 60px;
  border: 1px solid #ADB0D9;
  border-radius: 40px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  ::placeholder {
    @include m.flexBox(row, center, center, 15px);
    padding: 0px;
    width: 752px;
    height: 25px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

}

.channel-name-input {
  &.invalid-input {
    border: 2px solid #8a0000;
  }
}