<div *ngIf="isOpen" class="show-channel-container" (click)="close()">
  <div class="show-channel-content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="header-left">
        <span>#</span>
        <span>{{ channelToChange?.name }}</span>
      </div>
      <svg class="close-icon" (click)="close()" width="24" height="24" viewBox="0 0 24 24" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_113791_11389" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
          height="24">
          <rect width="24" height="24" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_113791_11389)">
          <path
            d="M12 13.4L7.10005 18.3C6.91672 18.4833 6.68338 18.575 6.40005 18.575C6.11672 18.575 5.88338 18.4833 5.70005 18.3C5.51672 18.1167 5.42505 17.8833 5.42505 17.6C5.42505 17.3167 5.51672 17.0833 5.70005 16.9L10.6 12L5.70005 7.09999C5.51672 6.91665 5.42505 6.68332 5.42505 6.39999C5.42505 6.11665 5.51672 5.88332 5.70005 5.69999C5.88338 5.51665 6.11672 5.42499 6.40005 5.42499C6.68338 5.42499 6.91672 5.51665 7.10005 5.69999L12 10.6L16.9 5.69999C17.0834 5.51665 17.3167 5.42499 17.6 5.42499C17.8834 5.42499 18.1167 5.51665 18.3 5.69999C18.4834 5.88332 18.575 6.11665 18.575 6.39999C18.575 6.68332 18.4834 6.91665 18.3 7.09999L13.4 12L18.3 16.9C18.4834 17.0833 18.575 17.3167 18.575 17.6C18.575 17.8833 18.4834 18.1167 18.3 18.3C18.1167 18.4833 17.8834 18.575 17.6 18.575C17.3167 18.575 17.0834 18.4833 16.9 18.3L12 13.4Z"
            fill="black" />
        </g>
      </svg>
      <!-- end of header -->
    </div>


    <!-- Channel-Name -->
    <div class="channel-name-ctn">
      <div class="channel-name-header">
        <span>Channel-Name</span>
        <span *ngIf="editedChannelName.length < 3" [style.color]="'#8a0000'">Bitte mindestens 3 Zeichen eingeben</span>
        <span *ngIf="!editNameMode" (click)="toggleEditMode(1)" class="name-edit">Bearbeiten</span>
        <span *ngIf="editNameMode" (click)="toggleEditMode(1)" class="name-edit">Speichern</span>
      </div>
      <div class="channel-name-title">
        <span *ngIf="!editNameMode">#</span>

        <!-- Bearbeiten-Modus: Zeige Input -->
        <input *ngIf="editNameMode" [(ngModel)]="editedChannelName" type="text" class="channel-input channel-name-input"
          (ngModelChange)="validateChannelName()" [ngClass]="{'invalid-input': isInvalidChannelName}"
          placeholder="# {{ channelToChange?.name }}" (keydown.enter)="toggleEditMode(1)" />

        <!-- Anzeigemodus: Zeige normalen Text -->
        <span *ngIf="!editNameMode">{{ channelToChange?.name }}</span>
      </div>
      <!-- End of Channel-Name -->
    </div>



    <!-- Channel-Description -->
    <div class="channel-description-container">
      <div class="channel-description-header">
        <span>Beschreibung</span>
        <span *ngIf="!editDescriptionMode" (click)="toggleEditMode(2)" class="description-edit">Bearbeiten</span>
        <span *ngIf="editDescriptionMode" (click)="toggleEditMode(2)" class="description-edit">Speichern</span>
      </div>

      <div class="channel-description-text">
        <input *ngIf="editDescriptionMode" [(ngModel)]="editedChannelDescription" type="text" class="channel-input"
          placeholder="Dein Text hier" (keydown.enter)="toggleEditMode(2)" />
        <span *ngIf="!editDescriptionMode">{{ channelToChange?.description }}</span>
      </div>

      <div class="channel-description-line">
      </div>

      <div class="channel-creator-ctn">
        <span class="channel-creator-title">Erstellt von</span>
        <!-- <span class="channel-creator-name">{{ channelToChange?.userId }}</span> -->
        <span class="channel-creator-name">{{ userToChange?.name }}</span>
      </div>

      <!-- channel-description-container -->
    </div>

    <div (click)="leaveChannel()" class="channel-leave-ctn">
      <button>Channel verlassen</button>
    </div>


    <!-- show-channel-content -->
  </div>
  <!-- show-channel-container -->
</div>









<!-- <div *ngIf="isOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <h2>Channel Modal</h2>
    <p>Hallöchen und Shalömchen</p>
  </div>
</div> -->