<!-- <div class="member-wrapper" *ngIf="isOpen"> -->
<div class="member-wrapper" (click)="cancelMemberModal()">
  <div class="member-content" (click)="$event.stopPropagation()">
    <div class="header">
      <span>Leute hinzufügen</span>
      <svg
        (click)="cancelMemberModal()"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <mask
          id="mask0_113791_11389"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="24"
          height="24"
        >
          <rect width="24" height="24" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_113791_11389)">
          <path
            d="M12 13.4L7.10005 18.3C6.91672 18.4833 6.68338 18.575 6.40005 18.575C6.11672 18.575 5.88338 18.4833 5.70005 18.3C5.51672 18.1167 5.42505 17.8833 5.42505 17.6C5.42505 17.3167 5.51672 17.0833 5.70005 16.9L10.6 12L5.70005 7.09999C5.51672 6.91665 5.42505 6.68332 5.42505 6.39999C5.42505 6.11665 5.51672 5.88332 5.70005 5.69999C5.88338 5.51665 6.11672 5.42499 6.40005 5.42499C6.68338 5.42499 6.91672 5.51665 7.10005 5.69999L12 10.6L16.9 5.69999C17.0834 5.51665 17.3167 5.42499 17.6 5.42499C17.8834 5.42499 18.1167 5.51665 18.3 5.69999C18.4834 5.88332 18.575 6.11665 18.575 6.39999C18.575 6.68332 18.4834 6.91665 18.3 7.09999L13.4 12L18.3 16.9C18.4834 17.0833 18.575 17.3167 18.575 17.6C18.575 17.8833 18.4834 18.1167 18.3 18.3C18.1167 18.4833 17.8834 18.575 17.6 18.575C17.3167 18.575 17.0834 18.4833 16.9 18.3L12 13.4Z"
            fill="black"
          />
        </g>
      </svg>
    </div>
    <div class="member-input1">
      <input
        (change)="checkSelectedOption()"
        for="members-channel"
        name="choice"
        type="radio"
        [(ngModel)]="selectedOption"
        [value]=1
      /><label for="members"
        >Alle Mitglieder zu <span>{{ newChannelName }}</span> hinzufügen</label
      >
    </div>
    <div class="member-input2">
      <input
        (change)="checkSelectedOption()"
        for="members-single"
        name="choice"
        type="radio"
        [(ngModel)]="selectedOption"
        [value]=2
      /><label for="members-single">Bestimmte Leute hinzufügen</label>
    </div>


    <div *ngIf="selectedOption == 2" class="member-input3">
      <input
        [(ngModel)]="searchTerm"
        for="single-member-input"
        type="text"
        placeholder="Benutzer filtern..."
      /><label for="single-member-input"></label>
      

      <div class="select-user-ctn">
        <div>
          <h3>Verfügbare Benutzer:</h3>
          <ul class="user-list">
            <!-- <li *ngFor="let user of filteredUsers" (click)="selectUser(user)" class="user-item"> -->
              <li *ngFor="let user of filteredUsers" (click)="selectUser(user)" class="user-item">
              <img src="img/avatar/{{ user.avatar }}" alt="" />
                <span>{{ user.name }}</span>
            </li>
          </ul>
        </div>
      
        <div>
          <h3>Ausgewählte Benutzer:</h3>
          <ul class="selected-users">
            <li *ngFor="let user of selectedUsers" 
            (click)="removeUser(user)"
            class="selected-item">
              <img src="img/avatar/{{ user.avatar }}" alt="Avatar" class="avatar">
              {{ user.name }} 
              <button class="remove-button">X</button>
            </li>
          </ul>
        </div>

      </div>


    </div>
    <!-- <div><p>{{ selectedOption }}</p></div> -->
    <div class="save-btn">
      <button [disabled]="!enableButton" (click)="submitData()">Erstellen</button>
    </div>
  </div>
</div>
