@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

h2 {
    margin: 0;
    @include m.styleFont("Nunito", 24px, 700);

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.container {
    height: calc(100dvh - 139px);
    width: 485px;
    background-color: #FFFFFF;
    border-radius: 30px;
    @include m.flexBox(column, normal, normal);

    @media (max-width: 1600px) {
        max-width: 485px;
        width: unset;
    }

    @media (max-width: 1400px) {
        max-width: unset;
    }

    @media (max-width: 768px) {
        border-radius: unset;
    }
}

.header {
    min-height: 96px;
    max-height: 96px;
    margin: 0 40px;
    @include m.flexBox(row, space-between, center);
    position: relative;

    .header-label {
        display: flex;
        align-items: center;
        gap: 16px;

        .channel {
            @include m.styleFont("Nunito", 14px, 400, 19.1px, v.$purple_2);
        }
    }

    .close-btn-container {
        @include m.flexBox(row, center, center);

        .close-btn {
            height: 13.5px;
            width: 13.5px;
            padding: 6.5px;
            border-radius: 50%;
            transition: all 0.100s ease-in;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                background-color: v.$purple_bg;

                path {
                    fill: v.$purple_3;
                }
            }
        }
    }

    @media (max-width: 768px) {
        min-height: 60px;
        max-height: 60px;
        margin: 0 16px;
    }
}

.shadow {
    min-height: 5px;
    background: linear-gradient(to bottom, #00000014, #00000000);
}

.chat-container {
    @include m.flexBox(column, normal, normal);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px 0 0 0;
    flex-grow: 1;

    .replies-spacer {
        margin: 10px 33px;
        @include m.flexBox(row, normal, center);
        @include m.styleFont("Nunito", 18px, 400, 24.55px, v.$purple_4);

        &::after {
            content: "";
            flex-grow: 1;
            height: 1px;
            background-color: v.$purple_4;
            margin-left: 20px;
        }

        @media (max-width: 768px) {
            margin: 10px 16px;
        }
    }

    .replies {
        @include m.flexBox(column, normal, normal);
    }

    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }

    &:hover::-webkit-scrollbar {
        background-color: v.$purple_4;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: v.$purple_2;
    }
}

.thread {
    @include m.flexBox(column, normal, normal);
}

.date-header {
    padding: 5px 0;
    @include m.styleFont("Nunito", 18px, 400, 24.55px);
    @include m.flexBox(row, center, center);

    .date {
        height: 28px;
        padding: 0 24px;
        @include m.flexBox(row, center, center);
        border: 1px solid v.$purple_4;
        border-radius: 20px;
        cursor: unset;
    }

    &::before {
        content: "";
        flex-grow: 1;
        height: 1px;
        background-color: v.$purple_4;
        margin-left: 20px;
    }

    &::after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background-color: v.$purple_4;
        margin-right: 20px;
    }

    @media (max-width: 768px) {
        @include m.styleFont("Nunito", 17px, 400, 23px);
    }
}

.hidden {
    display: none;
}