<div class="container" [class.hidden]="!threadVisibility">
    <div class="header">
        <div class="header-label">
            <h2>Thread</h2>
            <div class="channel"># {{ channelName$ | async }}</div>
        </div>
        <div class="close-btn-container">
            <svg class="close-btn" width="14" height="14" viewBox="0 0 14 14" fill="none"
                xmlns="http://www.w3.org/2000/svg" (click)="closeThread()">
                <path class="close-btn-path"
                    d="M7.00005 8.39999L2.10005 13.3C1.91672 13.4833 1.68338 13.575 1.40005 13.575C1.11672 13.575 0.883382 13.4833 0.700049 13.3C0.516715 13.1167 0.425049 12.8833 0.425049 12.6C0.425049 12.3167 0.516715 12.0833 0.700049 11.9L5.60005 6.99999L0.700049 2.09999C0.516715 1.91665 0.425049 1.68332 0.425049 1.39999C0.425049 1.11665 0.516715 0.883321 0.700049 0.699988C0.883382 0.516654 1.11672 0.424988 1.40005 0.424988C1.68338 0.424988 1.91672 0.516654 2.10005 0.699988L7.00005 5.59999L11.9 0.699988C12.0834 0.516654 12.3167 0.424988 12.6 0.424988C12.8834 0.424988 13.1167 0.516654 13.3 0.699988C13.4834 0.883321 13.575 1.11665 13.575 1.39999C13.575 1.68332 13.4834 1.91665 13.3 2.09999L8.40005 6.99999L13.3 11.9C13.4834 12.0833 13.575 12.3167 13.575 12.6C13.575 12.8833 13.4834 13.1167 13.3 13.3C13.1167 13.4833 12.8834 13.575 12.6 13.575C12.3167 13.575 12.0834 13.4833 11.9 13.3L7.00005 8.39999Z"
                    fill="black" />
            </svg>
        </div>
    </div>

    <div class="shadow"></div>
    <div id="chat-container" class="chat-container">

        <!-- Thread -->
        <div class="thread">
            <div class="replies">
                <app-thread-message *ngIf="thread" [thread]="thread" [editingTarget]="editingTarget"
                    (editRequest)="handleEditRequest($event)">
                </app-thread-message>
            </div>

            <!-- Anzahl der Nachrichten immer direkt darunter -->
            <ng-container *ngIf="totalMessagesCount$ | async as totalMessages">
                <div class="replies-spacer">
                    <div>{{ totalMessagesCount$ | async }} Antworten</div>
                </div>
            </ng-container>
        </div>

        <div *ngIf="groupedMessages$ | async as groupedMessages">

            <!-- Nachrichten gruppiert nach Datum -->
            <div class="replies">
                <div *ngFor="let group of groupedMessages">
                    <!-- Datum als Trennlinie -->
                    <div class="date-header">
                        <div class="date">{{ group.date }}</div>
                    </div>

                    <!-- Nachrichten innerhalb dieses Tages -->
                    <app-message *ngFor="let message of group.messages" [message]="message"
                        [editingTarget]="editingTarget" (editRequest)="handleEditRequest($event)">
                    </app-message>
                </div>
            </div>

        </div>
    </div>

    <!-- Input -->
    <app-message-input [threadId]="thread?.id ?? null" [editingMessageId]="editingTarget?.id || null"
        [editingText]="editingTarget?.text || ''" [editingType]="editingTarget?.type || null"
        (editSaved)="clearEditState()" (editCancelled)="clearEditState()">
    </app-message-input>

</div>