@use "../../mixins.scss" as m;
@use "../../variables.scss" as v;

.content {
    max-height: 100dvh;
    @include m.flexBox(column, normal, normal);
}

.main-content {
    max-height: calc(100dvh - 119px);
    margin: 0 20px 20px 20px;
    @include m.flexBox(row, space-between, normal);
    gap: 20px;

    @media (max-width: 768px) {
        max-height: calc(100dvh - 80px);
        margin: 0;
    }
}

app-main-view {
    flex-grow: 1;
}

@media (max-width: 1400px) {

    app-main-view,
    app-thread {
        flex-grow: 1;
        //width: 100%;
    }
}

@media (max-width: 992px) {

    app-devspace,
    app-main-view,
    app-thread {
        flex-grow: 1;
        width: 100%;
    }
}

.mobile-nav {
    //display: flex;
    display: none;
    justify-content: space-around;
    background: #eee;
    padding: 10px;
    position: sticky;
    bottom: 0;
    z-index: 1000;

    button {
        flex: 1;
        margin: 0 5px;
    }
}

.rotate-container {
    display: none;
}

@media screen and (orientation: landscape) and (pointer: coarse){
  .content {
    display: none;
  }

  .rotate-container {  
    display: block;
    width: 100%;
    height: 100%;
    @include m.flexBox(column, center, center);
    
    img {
      width: 300px;
    }
  }
}