<section class="password-new-main">
    <div class="password-new-header">
      <div class="logo">
        <img class="logo-logo" src="img/logo.svg" alt="DABubble Logo" />
        <img class="logo-name" src="img/logo_name.svg" alt="DABubble" />
      </div>
    </div>
    <div class="password-new-dialog">
      <div class="reg-back-arrow">
          <img
            src="img/arrow_back.png"
            alt="Zurück zur Anmeldung"
            (click)="navigateToRequest()"
          />
        </div>
      <h2>Passwort zurücksetzen</h2>
      <input type="password" placeholder="Neues Passwort" [(ngModel)]="password"/>
      <input type="password" placeholder="Neues Passwort bestätigen" [(ngModel)]="confirmPassword" (ngModelChange)="validatePasswords()"/>
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      <div class="password-new-btn">
        <button (click)="resetPassword()" [ngClass]="{'active': isFormValid}">Passwort ändern</button>
      </div>
    </div>
    <div class="legal-infos">
      <a routerLink="/imprint">Impressum</a>
      <a routerLink="/policy">Datenschutz</a>
    </div>
  </section>
  