@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

.password-new-main {
  @include m.flexBox(column, center, center);
  height: 100vh;

  .password-new-header {
    width: 100%;    
    margin-top: 50px;
    position: fixed;
    top: 0;

    .logo {
      @include m.flexBox(row, flex-start, center);
      margin-left: 50px;

      .logo-logo {
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }

      .logo-name {
        height: 24px;
      }
    }
  }

  .password-new-dialog {
    @include m.flexBox(column, center, center);
    height: 423px;
    width: 692px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 50px 100px;

    .reg-back-arrow {
        position: relative;
        width: 100%;
        top: 40px;
        left: -40px;
        cursor: pointer;
  
        img {
          width: 17px;
          height: 17px;
        }
      }

    h2 {
      @include m.styleFont("Nunito", 46px, 700, 55.2px, v.$purple_1);
      margin: 0;
    }

    input {
      border-radius: 100px;
      border: none;
      box-sizing: border-box;
      padding: 12px 30px;
      width: 75%;
      height: 60px;
      margin-top: 20px;
      background-color: v.$purple_bg;
      transition: 125ms box-shadow ease-in-out;

      &:hover {
        box-shadow: 0 0 0 1px black;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 1px v.$purple_1;
      }
    }

    .error-message {
      @include m.styleFont("Nunito", 14px, 400, 19.1px, red);
      width: 75%;
      height: 0;
      text-align: left;
    }

    .password-new-btn {
        @include m.flexBox(row, flex-end, center);
        width: 75%;

      button {
        @include m.styleFont("Nunito", 18px, 700, 24.55px, white);
        background-color: v.$grey;
        border: none;
        border-radius: 100px;
        box-sizing: border-box;
        padding: 10px 20px;
        margin-top: 40px;
        cursor: pointer;

        &.active {
          background-color: v.$purple_1;
        }
      }
    }
  }

  .legal-infos {
    @include m.flexBox(row, space-around, center);
    position: fixed;
    bottom: 0;
    width: 250px;
    margin-bottom: 20px;

    a {
      @include m.styleFont("Nunito", 18px, 400, 21.6px, v.$purple_2);
      text-decoration: none;
      box-sizing: border-box;
      padding: 8px 12px;
      border-radius: 100px;
      transition: 125ms;

      &:hover {
        font-weight: 700;
        box-shadow: 0 0 0 1px v.$purple_2;
      }
    }
  }
}
