<div class="imprint-wrapper">
  <!-- <div class="logo">
    <img src="img/header-img/da-bubble-header-logo.png" alt="">
  </div> -->
  <div class="logo">
    <img src="img/logo.svg" alt="DaBubble Logo">
    <span>DABubble</span>
  </div>
  <div class="imprint-content">
    <div class="imprint-arrow-back">
      <a routerLink="/login"><img src="img/arrow_back.png" alt=""></a>
      <!-- <a href="goBack()"><img src="/img/arrow_back.png" alt="Back Arrow" /></a> -->
    </div>
    <div class="imprint-header">
    <h1>Impressum</h1>
    <p>Alexander Riedel</p>
    <p>Peter Pfautsch</p>
    <p>Patrick Kanert</p>
    <p>Michael Fiebelkorn</p>
    <p>Ratzelstr. 10a</p>
    <p>04207 Leipzig</p>
    </div>
    <div class="imprint-contact">
      <h2>Kontakt:</h2>
      <p>E-Mail: dabubble395&#64;gmail.com</p>
    </div>
  </div>
</div>
