@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

  // @include m.styleFont("Nunito", 90px, 700, 1.5, white);
  // @include m.flexBox(row, center, center);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include m.styleFont("Nunito");
}



// /* Die gesamte Scrollbar */
// ::-webkit-scrollbar {
//   width: 20px; /* Breite der vertikalen Scrollbar */
//   height: 20px; /* Höhe der horizontalen Scrollbar */
// }

// /* Die Spur (Hintergrund der Scrollbar) */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1; 
//   border-radius: 10px;
// }

// /* Der Scrollbalken (Schiebeelement) */
// ::-webkit-scrollbar-thumb {
//   background: #888;
//   background: rgb(141, 3, 221);
//   border-radius: 10px;
// }

// /* Wenn man mit der Maus über die Scrollbar fährt */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: v.$purple_2;
  border-radius: 5px;

  &:hover {
      background-color: v.$purple_1;
  }
}

::-webkit-scrollbar-track {
  background-color: v.$purple_4;
  margin: 20px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.policy-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  @include m.flexBox(row, center, center);
}

.logo {
  position: absolute;
  width: 306px;
  height: 70px;
  top: 25px;
  left: 50px;
  @include m.flexBox(row, center, center, 29px);
  img {
    width: 70px;
    height: 70px;
  }
  span {
    @include m.styleFont("Nunito", 50px, 700, 1.5, #000000);
  }

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.policy-content {
  overflow-y: scroll;
  width: 676px;
  height: 469px;
  border-radius: 30px;
  padding: 48px 56px;
  left: calc(50% - 676.27px/2);
  top: calc(50% - 469px/2);
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 30px;

  @media screen and (max-width: 992px) {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }
}

.policy-text {
  h1, h2, h3, h4, h5, h6 {
    color: v.$purple_1;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
