@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

// @include m.styleFont("Nunito", 90px, 700, 1.5, white);
// @include m.flexBox(row, center, center);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button,
svg {
  border: unset;
  cursor: pointer;
}

.navbar {
  /* 77. Hide/show navigation bar */
  position: absolute;
  width: 60px;
  height: 347px;
  // top: calc(50% - 347px/2 + 214.5px); // Figma
  top: calc(50% - 347px / 2 + 214.5px);
  left: -10px;
  z-index: 1;
  /* Auto layout */
  @include m.flexBox(column, center, center, 10px);
  padding: 23px 14px;
  /* White */
  background: #ffffff;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2);
  border-radius: 0px 30px 30px 0px;

  .navbar-content {
    @include m.flexBox(row, center, center, 10px);
    /* Workspace-Menü schließen */
    // width: 253px;
    // height: 24px;
    text-wrap: nowrap;
    @include m.styleFont("Nunito", 20px, 500, 1.2, #000000);
    /* identical to box height, or 24px */
    transform: rotate(-90deg);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    svg {
      transform: rotate(90deg);
      cursor: pointer;
    }

    &:hover {
      span {
        color: v.$purple_3;
        cursor: pointer;
        transform: rotate(-90deg), scale(1.3);
      }

      svg {
        fill: v.$purple_3;
      }
    }
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.rotate-svg {
  transform: rotate(-90deg) !important;
}