@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

.add-reactions-container {
    opacity: 0;
    transform: translateX(20px);
    transition: transform 0.08s ease-out, opacity 0.08s ease-out;

    &.visible {
        opacity: 1;
        transform: translateX(0);
    }
}

.add-reactions {
    min-width: 66px;
    height: 46px;
    padding: 0 4px;
    @include m.flexBox(row, center, center);
    position: absolute;
    right: 40px;
    top: -20px;
    background-color: #FFFFFF;
    border-width: 1px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid #ADB0D9;

    svg {
        padding: 8px;
    }
}

.add-reactions {
    .own-message & {
        right: unset;
        left: 40px;
    }
}

.svg-container {
    display: flex;
    cursor: pointer;

    &:hover {
        border-radius: 50%;
        background-color: v.$purple_bg;

        path {
            fill: v.$purple_3;
        }
    }
}

.menu-dropdown {
    width: 269px;
    height: 67px;
    @include m.flexBox(column, center, center);
    position: absolute;
    left: 75px;
    top: 28px;
    background: #FFFFFF;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 0 0 0 #00000000;
    opacity: 0;
    transform: translateY(10px);
    transition:
        opacity 0.2s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;

    &.fade-in {
        opacity: 1;
        transform: translateY(0);
        box-shadow: 0px 6px 14px 0px #00000033;
    }

    &.fade-out {
        opacity: 0;
        transform: translateY(10px);
        box-shadow: 0 0 0 0 #00000000;
        pointer-events: none;
    }

    div {
        @include m.flexBox(column, center, center);
        @include m.styleFont("Nunito", 20px, 600, 27.28px);
        text-align: center;
        border-radius: 100px;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            color: v.$purple_3;
            background-color: v.$purple_bg;
        }
    }
}