<header>
  <div class="header-img" *ngIf="showHeaderImg">
    <img src="img/header-img/da-bubble-header-logo.png" alt="" />
  </div>

  <div class="workspace" (click)="backToMain()" *ngIf="showWorkspace">
    <span>&#060;</span>
    <img src="img/workspacelogo.png" alt="" />
    <span>Devspace</span>
  </div>

  <!-- <div class="header-input">
    <input type="text" id="search-input" placeholder="Devspace durchsuchen" />
  </div> -->

  <div class="header-input" #searchContainer>
    <input
      type="text"
      id="search-input"
      [formControl]="searchControl"
      [placeholder]="placeholderText"
      (focus)="searchActive = true"
    />

    <!-- Spinner -->
    <div class="global-spinner-overlay" *ngIf="isLoading">
      <div class="spinner-box">
        <img src="img/logo.svg" alt="Logo" class="spinner-logo" />
        <div class="spinner"></div>
        <p class="spinner-text">Lädt...</p>
      </div>
    </div>

    <!-- Ergebnisliste -->
    <div
      class="search-results-dropdown"
      *ngIf="searchResults.length > 0 && searchActive"
      #searchDropdownRef
    >
      <div
        *ngFor="let result of searchResults"
        class="search-result-item"
        (click)="handleSearchResultClick(result)"
      >
        <div class="channel-name">🔗 {{ result.channelName }}</div>

        <!-- Wenn es ein Thread ist -->
        <div *ngIf="result.type === 'thread'" class="thread-title">
          📁 <strong>{{ result.title }}</strong>
        </div>

        <!-- Wenn es eine Message ist -->
        <div *ngIf="result.type === 'message'" class="message-preview">
          🗨️ <em>{{ result.text }}</em>
        </div>

        <!-- Wenn es eine Direktnachricht ist -->
        <div *ngIf="result.type === 'direct'">
          💬 <em>{{ result.text }}</em>
          <span class="channel"
            >&nbsp;(Direktnachricht mit User {{ result.otherUserName }})</span
          >
        </div>

        <!-- Wenn es ein User ist -->
        <div *ngIf="result.type === 'user'">
          👤 <strong>{{ result.name }}</strong>
          <span class="channel">&nbsp;({{ result.email }})</span>
        </div>
      </div>

      <!-- Trefferanzahl und Hinweis -->
      <div class="search-counter" *ngIf="searchResults.length > 0">
        🔍 {{ searchResults.length }} Treffer gefunden
      </div>
      <!-- <small>(Press ESC to leave)</small> -->
    </div>
  </div>

  <app-thread-modal
    *ngIf="modalOpen"
    [title]="selectedThreadTitle"
    [messages]="selectedThreadMessages"
    (close)="modalOpen = false"
  ></app-thread-modal>

  <div class="header-profile" (click)="toggleMenu()">
    <ng-container *ngIf="userName$ | async as user">
      <span>{{ user.name }}</span>
      <div class="profile-pic-wrapper">
        <img class="profile-pic" [src]="user.avatar" alt="Profilepicture" />
        <ng-container *ngIf="onlineStatus$ | async">
          <img
            class="profile-pic-online"
            src="img/header-img/profile-pic-online.png"
            alt="Online Indicator"
          />
        </ng-container>
      </div>
    </ng-container>
    <div class="arrow-wrapper">
      <img class="arrow-default" src="img/header-img/arrow-down.png" alt="" />
      <img
        class="arrow-hover"
        src="img/header-img/arrow-down-hover.png"
        alt=""
      />
    </div>
  </div>
</header>
<div class="overlayer" *ngIf="menuOpen" (click)="menuOpen = false">
  <div class="menu" *ngIf="menuOpen" (click)="$event.stopPropagation()">
    <p (click)="toggleProfileEdit()" class="profile">Profil</p>
    <p (click)="logout()" class="log-out">Log out</p>
  </div>
  <app-profile-detail
    *ngIf="profileEditOpen"
    [userName]="userName$ | async"
    (close)="closeProfile()"
  ></app-profile-detail>
</div>
