<div class="direct-message-container">
  <div class="header">
    <ng-container *ngIf="user$ | async as user">
      <div class="header-label" (click)="showProfile(user.docId)">
        <div class="profile-pic-wrapper">
          <img class="profile-pic" [src]="user.avatar || 'img/avatar/avatar5.png'" alt="Profilepicture" />
          <ng-container
            *ngIf="onlineStatus$ | async as online; else offlineBlock"
          >
            <img
              class="profile-pic-online"
              src="img/direct-messages-img/online.png"
              alt="Online Indicator"
            />
          </ng-container>
          <ng-template #offlineBlock>
            <img
              class="profile-pic-offline"
              src="img/direct-messages-img/offline.png"
              alt="Offline Indicator"
            />
          </ng-template>
        </div>
        <h2>{{ user.name }}</h2>
      </div>
    </ng-container>
  </div>

  <div class="shadow"></div>

  <div id="chat-container" class="chat-container" #chatContainer>
    <ng-container *ngIf="messages.length > 0; else infoBlock">
      <div id="replies" class="replies">
        <div
          class="reply-container"
          *ngFor="let msg of messages"
          [ngClass]="{
            'own-message': msg?.userId === loggedInUserId,
            'being-edited': editingTarget?.id === msg.id
          }"
          (mouseenter)="hoveredMessageId = msg.id!"
          (mouseleave)="hoveredMessageId = null"
        >
          <!-- reactions menu -->
          <app-reaction-menu
            [docId]="msg.id!"
            [userId]="msg.userId"
            [currentUserId]="loggedInUserId"
            [text]="msg.text"
            [type]="'chat'"
            [isHovered]="
              hoveredMessageId === msg.id! && editingTarget?.id !== msg.id!
            "
            [isOwnMessage]="msg.userId === loggedInUserId"
            [isEditing]="editingTarget?.id === msg.id!"
            [parentId]="chatId"
            (editRequest)="handleEditRequest($event)"
          >
          </app-reaction-menu>

          <div class="reply" *ngIf="user$ | async as user">
            <img
              class="avatar"
              [src]="msg?.senderAvatar"
              alt="Profilepicture"
            />
            <div class="message">
              <div class="message-info">
                <div
                  (click)="msg?.userId ? showProfile(msg.userId) : null"
                  class="message-info-name"
                >
                  <ng-container
                    *ngIf="getUserObservable(msg.userId) | async as sender"
                  >
                    {{ sender.name }}
                  </ng-container>
                </div>
                <div class="message-info-time">
                  {{ formatMessageDate(msg?.creationDate) }}
                </div>
              </div>
              <div class="message-text">
                {{ msg?.text }}
              </div>

              <!-- reactions -->
              <app-reaction-display
                [docId]="msg.id!"
                [threadId]="msg.id!"
                [currentUserId]="loggedInUserId"
                collectionName="chats"
                [parentId]="chatId"
              >
              </app-reaction-display>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #infoBlock>
    <div class="info">
      <ng-container *ngIf="user$ | async as user">
        <div class="info-user">
          <img [src]="user.avatar || 'img/avatar/avatar5.png'" alt="Avatar" />
          <span>{{ user.name }}</span>
        </div>
        <div class="info-about-chat">
          <span class="info-text">Diese Unterhaltung findet nur zwischen</span>
          <span (click)="showProfile(user.docId)" class="info-name">
            &#64;{{ user.name }}
          </span>
          <span class="info-text">und dir statt.</span>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <!-- input -->
  <app-message-input
    *ngIf="true"
    [editingMessageId]="editingTarget?.id || null"
    [isDirectMessage]="true"
    (newDirectMessage)="onNewMessage($event)"
    [editingText]="editingTarget?.text || ''"
    [editingType]="editingTarget?.type || null"
    (editSaved)="clearEditState()"
    (editCancelled)="clearEditState()"
  ></app-message-input>
</div>

<app-profile-view
  *ngIf="profileViewOpen && selectedProfile"
  [userName]="selectedProfile"
  [onlineStatus$]="selectedProfilePresence$"
  (close)="closeProfile()"
></app-profile-view>
