@use "../../../../mixins.scss" as m;
@use "../../../../variables.scss" as v;

.direct-message-container {
  position: relative;
  height: calc(100dvh - 139px);
  width: 100%;
  background-color: #ffffff;
  border-radius: 30px;
  @include m.flexBox(column, normal, normal);

  @media (max-width: 768px) {
    height: calc(100dvh - 80px);
    border-radius: unset;
  }
}

.header-label {
  &:hover {
    cursor: pointer;
  }
}

.profile-pic-wrapper {
  position: relative;

  .profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .profile-pic-online {
    position: absolute;
    right: 0;
    bottom: 2px;
  }

  .profile-pic-offline {
    position: absolute;
    right: 0;
    bottom: 2px;
  }
}

.info {
  @include m.flexBox(column, normal, normal, 24px);
  padding-left: 45px;
  position: absolute;
  bottom: 245px;

  .info-user {
    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }

    span {
      color: black;
      font-family: Nunito;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  .info-about-chat {
    .info-text {
      color: v.$grey;
      font-family: Nunito;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
    }

    .info-name {
      color: v.$purple_3;
      font-family: Nunito;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      transition: font-weight 100ms ease-in-out;

      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}