@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

.avatar-main {
  @include m.flexBox(column, center, center);
  height: 100vh;

  @media (max-width: 460px) {
    height: unset;
  }

  .avatar-header {
    @include m.flexBox(row, space-between, center);
    width: 100%;
    margin-top: 50px;
    position: fixed;
    top: 0;

    @media (max-width: 460px) {
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;
      top: unset;
    }

    .logo {
      @include m.flexBox(row, flex-start, center);
      margin-left: 50px;

      .logo-logo {
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }

      .logo-name {
        height: 24px;
      }
    }
  }

  .avatar-dialog {
    @include m.flexBox(column, center, center);
    height: 700px;
    width: 606px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 50px 60px;

    @media (max-width: 460px) {
      width: unset;
      height: unset;
      margin: 0;
      margin-top: 10px;
      padding: 0 20px 20px 20px;
      margin: 20px;
    }

    .avatar-back-arrow {
      position: relative;
      width: 100%;
      top: 40px;
      left: -20px;
      cursor: pointer;

      @media (max-width: 460px) {
        left: -10px;
      }

      img {
        width: 17px;
        height: 17px;
      }
    }

    h2 {
      @include m.styleFont("Nunito", 46px, 700, 55.2px, v.$purple_1);
      margin-top: 0;

      @media (max-width: 460px) {
        @include m.styleFont("Nunito", 32px, 700, 40px, v.$purple_1);
        text-align: center;
      }
    }

    .selected-avatar {
      max-height: 168px;
      border-radius: 50%;

      @media (max-width: 460px) {
        max-height: 120px;
      }
    }

    .user-name {
      @include m.styleFont("Nunito", 32px, 700, 43.56px, black);
      margin-top: 20px;
    }

    .avatar-choose {
      @include m.styleFont("Nunito", 20px, 400, 27.28px, black);
      width: 100%;
      text-align: left;
      margin-top: 20px;
    }

    .avatar-list {
      @include m.flexBox(row, center, center);
      flex-wrap: wrap;
      margin-top: 20px;

      img {
        width: 64px;
        height: 64px;
        margin: 10px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .register {
      @include m.flexBox(row, flex-end, flex-end);
      width: 100%;
      margin-top: 32px;

      @media (max-width: 460px) {
        margin-top: 16px;
      }

      .avatar-btn {
        @include m.styleFont("Nunito", 18px, 700, 24.55px, white);
        padding: 12px 20px;
        margin-top: 35px;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        box-shadow: 0 0 0 1px v.$purple_1;
        background-color: v.$purple_1;
        transition: 125ms;

        @media (max-width: 460px) {
          margin-top: unset;
        }

        &:hover {
          background-color: v.$purple_2;
          box-shadow: 0 0 0 1px v.$purple_2;
          color: white;
        }
      }
    }
  }

  .legal-infos {
    @include m.flexBox(row, space-around, center);
    width: 250px;
    position: fixed;
    bottom: 20px;

    @media (max-width: 460px) {
      display: none;
    }

    a {
      @include m.styleFont("Nunito", 18px, 400, 21.6px, v.$purple_2);
      text-decoration: none;
      box-sizing: border-box;
      padding: 8px 12px;
      border-radius: 100px;
      transition: 125ms;

      &:hover {
        font-weight: 700;
        box-shadow: 0 0 0 1px v.$purple_2;
      }
    }
  }

  .success-msg {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 149px;
    width: 531px;
    background-color: v.$purple_2;
    border-radius: 12px 12px 0 12px;
    animation: moveRight 0.5s ease-in-out forwards;

    span {
      @include m.flexBox(row, center, center);
      @include m.styleFont("Nunito", 36px, 700, 49.1px, white);
      height: 100%;
    }
  }
}

@keyframes moveRight {
  0% {
    right: -600px;
  }

  100% {
    right: 0;
  }
}