<div class="reply-container" [ngClass]="{
    'own-message': message.userId === currentUserId,
    'being-edited': editingTarget?.id === message.id && editingTarget?.type === 'message'
  }" (mouseenter)="hoveredThreadId = message.id!" (mouseleave)="hoveredThreadId = null">

    <!-- add reactions -->
    <app-reaction-menu [docId]="message.id!" [userId]="message.userId" [currentUserId]="currentUserId!"
        [text]="message.text" [type]="'message'" [isHovered]="hoveredThreadId === message.id"
        [isOwnMessage]="message.userId === currentUserId"
        [isEditing]="editingTarget?.id === message.id && editingTarget?.type === 'message'"
        (editRequest)="handleEditRequest($event)">
    </app-reaction-menu>

    <!-- reply -->
    <div class="reply">
        <img [src]="(userData$ | async)?.avatar" alt="Avatar" class="avatar">
        <div class="message">
            <div class="message-info">
                <div class="message-info-name" (click)="message.userId ? showProfile(message.userId) : null">{{
                    (userData$ | async)?.name }}</div>
                <div class="message-info-time">{{ message.creationDate | date:'HH:mm' }} Uhr</div>
            </div>
            <div class="message-text">{{ message.text }}</div>

            <!-- reactions -->
            <app-reaction-display [docId]="message.id!" [threadId]="message.id!" [currentUserId]="currentUserId!"
                [collectionName]="'messages'" [type]="'message'">
            </app-reaction-display>

        </div>
    </div>
</div>

<!-- reactions overlay -->
<app-reactions *ngIf="showReactionsOverlay" (emojiSelected)="onEmojiSelected($event)" (closed)="onOverlayClosed()">
</app-reactions>

<!-- profile view -->
<app-profile-view *ngIf="profileViewOpen && selectedProfile" [userName]="selectedProfile"
    [onlineStatus$]="selectedProfilePresence$" (close)="closeProfile()"></app-profile-view>